<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
	<title>Quiz O Matic!</title>
	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type='text/javascript' src="{% static 'quiz/take_quiz.js' %}"></script>
	<link rel="stylesheet" href="{% static 'quiz/take_quiz.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="header">
	<h1 class="landing_title">(ง'̀-'́)ง Ultimate Fan</h1>
			<form action="{% url 'logout' %}" method="POST">
			{% csrf_token %}
			<input type="submit" value="Logout">
			</form>
	</div>
	<div class="container">
		<div class="box">
			<div class="selectors"><a href="/">Home</a></div>
			<div class="explain">Return to the home page</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="/quiz">Quizes</a></div>
			<div class="explain">Test your knowledge!</div>
		</div>
		<div class="box">
			<div class="selectors"><a href="">Quiz Stats</a></div>
			<div class="explain">Coming soon!</div>
		</div>
		<div class="box">    
			<div class="selectors"><a href="/quiz">Your Account</a></div>
			<div class="explain">Stuffs!</div>
		</div>
	</div>
	<div class="quiz">
		<h3>{{ questions.trivia }}</h3>
		<div class="answers">
			{% for answers in questions.answer_list %}
			<form action="{% url 'submit_quiz' answers.value %}" method="POST">
			{% csrf_token %}
			<p class='answer'> 
			<button type="submit" value="{{ answers.value }}">
			{{ answers.answer.athlete.name }}
			</button></p></form>
			{% endfor %}
		</div>
		<br>
		<div class="timer"></div>
		<div class="answer"></div>
		<a href="/quiz/next">Next Question</a>
	</div>
	<footer>
		<p>Copyright 2018 - Come at me bro - (ง'̀-'́)ง</p>
	</footer>
</body>
</html>